#addEventForm {
  md-input-container {
    width: 100%;
  }
}

@media screen and (min-width: 620px) {

  #addEventForm {
    md-input-container{
      text-align: left;
      width: 49.5%;
      .md-input-messages-animation {
        position: absolute;
        top: 40px;
      }

      &.datetime {
        width: 49.5%;
      }
    }

    md-autocomplete {
      display: inline-block;
      min-width: 130px;
      vertical-align: middle;
      width: 49.5%;
      .md-input-messages-
      md-autocomplete-wrap {

      }
    }
  }
}