#eventIndex {
  md-card{
    md-card-header{
      padding-bottom: 0;
    }
    md-card-content {
      padding-top: 0;
      padding-bottom: 0;
    }
    md-card-actions {
      margin-top: 0;
    }
  }
}