@media screen and (min-width: 505px) {
	#accountForm {
		text-align: center;

		md-input-container {
			text-align: left;
			width: 32%;
			.md-input-messages-animation {
				position: absolute;
				top: 40px;
			}
		}
	}
}



// Register form
button {
	clear: both;
}
