form {
	h2 {
		margin-bottom: 1em;
	}
	md-checkbox {
	

	.md-container.md-ink-ripple {
		right: 0;
		left: auto;
	}
	
	.md-label{
		float:left;
		margin-left: 0;
		padding-right: 30px;
	}
}
.actions {
	text-align: center;
}
}


@media screen and (max-width: 504px) {

	md-input-container {
		width: 100% !important;
		display: block;
	}


}


// Register form
button {
	clear: both;
}
