#header {
  md-tab-item {
    padding: 0;
  }
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 24px;
  }
}
#content {
  width: 100%;
}

#footer {
  padding: 10px;
}

@media screen and (min-width: 620px) {
  #content {
    max-width: 620px;
    margin: 0 auto;
  }
}
