<md-content>
    <form id="addEventForm" name="addEventForm">
        <h2> Create an event </h2>
        <progress-form form="addEventForm"></progress-form>
        <md-input-container>
            <label for="eventName">Name of the event</label>
            <input id="eventName"
                   name="eventName"
                   ng-model="form.event.name"
                   required
                   autofocus>
            <div ng-messages="addEventForm.eventName.$error" ng-show="addEventForm.eventName.$touched" role="alert">
                <div ng-message="required">The event name is required</div>
            </div></md-input-container>

        <md-input-container>
            <label for="type">What is your event about?</label>
            <input list="eventTypes" name="type" id="type">
            <datalist id="eventTypes">
                <option ng-repeat="item in form.suggestEventType()" value="{{item}}"></option>
            </datalist></md-input-container>

        <md-input-container>
            <label for="eventHost">Event Host</label>
            <input name="eventHost"
                   id="eventHost"
                   autocomplete="name"
                   ng-model="form.event.host"
                   required>
            <div ng-messages="addEventForm.eventHost.$error" ng-show="addEventForm.eventHost.$touched" role="alert">
                <div ng-message="required">The event host is required</div>
            </div></md-input-container>

        <google-location-input ng-model="form.event.address"
                               form="addEventForm"
                               label="Address"
                               id="address"
                               name="address"
                               placeholder="insert a location"
                               required></google-location-input>

        <div class="event-date">
            <h5>Event Date</h5>
            <md-input-container class="datetime">
                <label for="startDate">Start date</label>
                <input type="datetime-local"
                       name="startDate"
                       ng-model="form.event.startDate"
                       id="startDate"
                       min="{{form.minDate}}"
                       panda-min-date="{{form.today}}"
                       class="md-input"
                       required>
                <div ng-messages="addEventForm.startDate.$error" ng-show="addEventForm.startDate.$touched" role="alert">
                    <div ng-message="required">The {{label}} is required</div>
                    <div ng-message="mindatelocal">The start date time must be greater than now</div>
                </div></md-input-container>

            <md-input-container class="datetime">
                <label for="endDate">End date time</label>
                <input type="datetime-local"
                       name="endDate"
                       ng-model="form.event.endDate"
                       ng-disabled="!form.event.startDate"
                       id="endDate"
                       ng-focus="startDate = form.dateToString(form.event.startDate)"
                       min="{{startDate}}"
                       panda-min-date="{{form.event.startDate}}"
                       class="md-input"
                       required>
                <div ng-messages="addEventForm.endDate.$error" ng-show="addEventForm.endDate.$touched" role="alert">
                    <div ng-message="required">The end date is required</div>
                    <div ng-message="mindatelocal">The end date time must be less than start date</div>
                </div></md-input-container>
        </div>

        <md-input-container>
            <label for="guests">Guest List</label>
            <textarea ng-model="form.event.guests"
                      id="guests"
                      name="guests"
                      placeholder="guest@domain.com, guest2@domain.com ..."
                      email-list-validator
                      required=""></textarea>
            <div ng-messages="addEventForm.guests.$error"
                 ng-show="addEventForm.guests.$touched"
                 role="alert">
                <div ng-message="required">You must invite to some people using their email addresses</div>
                <div ng-message="invalidemail">You must write valid email addresses</div>
            </div></md-input-container>

        <md-input-container>
            <label for="message">Message to guests (optional)</label>
            <textarea name="message"
                      id="message"
                      ng-model="form.event.message"></textarea></md-input-container>

        <div class="actions">
            <md-button class="md-raised"
                       ng-disabled="addEventForm.$invalid"
                       ng-click="form.add()">
                Save</md-button>
        </div>
    </form>
</md-content>
