<md-content>
  <form id="accountForm" name="accountForm" layout="row">
    <section class="form-panel" ng-hide="form.registered" layout-fill="">
      <h2> Sign up </h2>
      <progress-form form="accountForm"></progress-form><md-input-container>
        <label for="name">Name</label>
        <input id="name"
               name="name"
               autocomplete="name"
               ng-model="form.account.name"
               required
               autofocus>
        <div ng-messages="accountForm.name.$error"  ng-show="accountForm.name.$touched" role="alert">
          <div ng-message="required">The name is required</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label for="email">Email address</label>
        <input type="email"
               id="email"
               name="email"
               autocomplete="email"
               ng-model="form.account.email"
               required>
        <div ng-messages="accountForm.email.$error" ng-show="accountForm.email.$touched" role="alert">
          <div ng-message="required">The email address is required</div>
          <div ng-message="email">The email must be a valid email address</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               minlength="8"
               maxlength="16"
               password-validator
               ng-model="form.account.password" required>
        <div ng-messages="accountForm.password.$error" ng-show="accountForm.password.$touched" role="alert">
          <div ng-message="required">Password is required</div>
          <div ng-message="invalidpassword" ng-show="accountForm.password.$error.invalidpassword">
            <div ng-repeat="message in accountForm.password.passwordRequerimentsMessage">{{message}}</div>
          </div>
        </div>
      </md-input-container>

      <div class="actions">
        <md-button class="md-raised" ng-click="form.createAccount()" ng-disabled="accountForm.$invalid">
          Register Now
        </md-button>
      </div>
    </section>

    <section id="optionalInfo"
             class="form-panel"
             ng-show="form.registered"
             layout-fill="">
      <p>Thanks for register! let us now more about you or simply <a
        ui-sref="add-event">create
        an event</a>
      </p>
      <h3>more info</h3>
      <md-input-container>
        <label for="employer">Employer</label>
        <input name="employer"
               id="employer"
               ng-model="form.account.employer"
               autocomplete="organization">
      </md-input-container>

      <md-input-container>
        <label for="jobTitle">Job title</label>
        <input name="job-title"
               id="jobTitle"
               ng-model="form.account.jobTitle"
               autocomplete="organization-title">
      </md-input-container>

      <md-input-container>
        <label for="birthday">Birthday</label>
        <input type="date"
               id="birthday"
               name="birthday"
               ng-model="form.account.birthday"
               autocomplete="bday">
      </md-input-container>
      <div class="actions">
        <md-button class="md-raised" ng-click="form.updateAccount()">
          Save
        </md-button>
      </div>
      </div>
    </section>
  </form>
</md-content>
