<md-input-container class="datetime">
    <label for="startDate">Start date</label>
    <input type="datetime-local"
           name="startDate"
           ng-model="form.event.startDate"
           id="startDate"
           min="form.today"
           class=" md-input"
           required>
    <div ng-messages="addEventForm.startDate.$error" ng-show="addEventForm.startDate.$touched" role="alert">
        <div ng-message="required">The start date is required</div>
    </div>
</md-input-container>

<md-input-container class="mdc-datetime-picker">
    <label for="start-date">Start date</label>
    <input mdc-datetime-picker
           type="datetime"
           name="start-date"
           ng-model="form.event.startDate"
           id="start-date"
           date="true"
           time="true"
           short-time="false"
           min-date="form.today"
           class=" md-input"
           required>
</md-input-container>
