<md-input-container class="datetime">
    <label for="{{id}}">{{label}}</label>
    <input type="datetime-local"
           name="{{name}}"
           ng-model="ngModel"
           id="{{id}}"
           min="{{min}}"
           class="md-input"
           required="{{required}}">
    <div ng-messages="addEventForm.startDate.$error" ng-show="addEventForm.startDate.$touched" role="alert">
        <div ng-message="required">The {{label}}is required</div>
    </div>
</md-input-container>

<md-input-container class="mdc-datetime-picker">
    <label for="-{{id}}">{{label}}</label>
    <input mdc-datetime-picker
           type="datetime"
           name="{{name}}"
           ng-model="ngModel"
           id="-{{id}}"
           date="true"
           time="true"
           short-time="false"
           min-date="form.today"
           class="md-input"
           required="{{required}}">
</md-input-container>
